<div class="flex-container">
  <div *ngIf="!showLoading">
    <mat-toolbar>
      <button class="home">
        <mat-icon (click)="goToMainMenu()">home</mat-icon>
      </button>
      <span class="example-spacer"></span>
    </mat-toolbar>
  </div>

  <mat-card class="card">
    <div *ngIf="!showLoading">
      <mat-card-title>Log In</mat-card-title>
      <mat-card-content class="content">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <p>
            <mat-form-field>
              <input type="text" matInput placeholder="Email" formControlName="Email"required>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input type="password" matInput placeholder="Password" formControlName="Password"required>
            </mat-form-field>
          </p>
          <div *ngIf="!awaitingAPI">
            <button class="login" [disabled]="awaitingAPI" mat-raised-button>Log In</button>
            <button class="register" [disabled]="awaitingAPI" (click)="goToRegistration()" mat-raised-button>Create Account</button>
          </div>
        </form>
        <mat-progress-bar class="spinner" mode="indeterminate" *ngIf="awaitingAPI"></mat-progress-bar>
      </mat-card-content>
    </div>
    <mat-card-content>
      <!--How to implement the loading animation-->
      <app-loading-animation *ngIf="showLoading" [targetRoute]=targetEvent></app-loading-animation>
    </mat-card-content>
  </mat-card>
</div>
