<!-- <div *ngIf="!showLoading"> -->
  <mat-toolbar>
    <button class="home">
      <mat-icon (click)="goToMainMenu()">home</mat-icon>
    </button>
    <span class="example-spacer"></span>
  </mat-toolbar>
<!-- </div> -->

<mat-card class="card">
  <div *ngIf="!showLoading">
    <mat-card-title>Log In</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <p>
          <mat-form-field>
            <input type="text" matInput placeholder="Email" formControlName="Email">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Password" formControlName="Password">
          </mat-form-field>
        </p>

        <button class="login" mat-raised-button>Log In</button>
        <button class="register" (click)="goToRegistration()" mat-raised-button>Create Account</button>
      </form>
    </mat-card-content>
  </div>
  <mat-card-content>
    <app-loading-animation *ngIf="showLoading" [targetRoute]=targetEvent></app-loading-animation>
  </mat-card-content>
</mat-card>
