
<body>
<div [align]="['center']">
    <iframe width="560" 
    class ="audio-wrapper"

    height="315" 
    src="https://www.youtube.com/embed/UfcAVejslrU" 
    title="YouTube video player" 
    frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
    allowfullscreen></iframe>
    <p style="color:white;">Please click on the video to enjoy your audio meditation</p>

   
    <footer>
        <h3 class="title">Need Immediate Help?</h3>
          <a href="https://suicidepreventionlifeline.org/" target="_blank" rel="noopener"> Visit the National Suicide Prevention Lifeline</a>
      </footer>
        
</div>
<mat-toolbar>
    <button class="home" (click)="goToMain()">
    <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    </mat-toolbar>
</body>

