body, html {
    height: 100%;
}

/* .bg {
    background-color: #52688F;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.card {
    max-width: 500px;
    align-self: center;
    margin: 15px;
}

.playButton{
    color: #E3E7F1;
    background-color: #52688F;
}