.body {background-color: #52688F;}

.mat-toolbar{
    position: fixed;
    bottom: 0;
    left: 0%;
    color: white;
    background-color: #E3E7F1;
  
}

.home {
    color: #52688F;
    border: none;
    background-color: #E3E7F1;
}

.card {
    max-width: 750px;
    align-self: center;
    margin: 15px;
}