<label for="Please enter 4 things you can touch">enter something you can touch: </label>
<input id="name" type="text" [formControl]="name">
<label for="Please enter 4 things you can touch ">enter something you can touch: </label>
<input id="name" type="text" [formControl]="name">
<label for="Please enter 4 things you can touch ">enter something you can touch: </label>
<input id="name" type="text" [formControl]="name">
<label for="Please enter 4 things you can touch ">enter something you can touch: </label>
<input id="name" type="text" [formControl]="name">
