.flex-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.card {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* Header Styling */
mat-toolbar.header {
    z-index: 8888;
    position: fixed;
    height: 5%;
    top: 0;
    left: 0%;
    color: white;
    background-color: #52688F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
  
.home {
    color: #E3E7F1;
    border: none;
    background-color: #52688F;
    display: flex;
    align-items: center;
    height: 100%
}  