<div class="flex-container">
    <div *ngIf="!showLoading">
        <mat-toolbar class="header">
            <button class="home">
                <mat-icon (click)="goToMainMenu()">home</mat-icon>
            </button>
        </mat-toolbar>
    </div>

    <div class="container">
        <mat-card class="card" [@loadingAnimation]="!showLoading ? 'notLoading' : 'loading'">
            <mat-card-content *ngIf="!showLoading" class="flex-container">
                <img class="about-us" src="../../assets/SHARD_Logo.png" height="460" width="350">
                <h3 class="about-us">About Us</h3>
                <div>
                    <p class="about-us">{{aboutUs[0]}}<br><br>{{aboutUs[1]}}<br><br>{{aboutUs[2]}}<br><br>{{aboutUs[3]}}<br>{{aboutUs[4]}}<br>{{aboutUs[5]}}<br>{{aboutUs[6]}}<br>{{aboutUs[7]}}<br>{{aboutUs[8]}}<br>{{aboutUs[9]}}<br></p>
                </div>
            </mat-card-content>
            <mat-card-content>
                <app-loading-animation *ngIf="showLoading" [targetRoute]=targetEvent></app-loading-animation>
            </mat-card-content>
        </mat-card>
    </div>
</div>