.home {
  background-color: #52688F;
  border: none;
  color: #E3E7F1;

}
.mat-card {
  width: 65%;
  height: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: auto;
}
mat-toolbar.header {
  z-index: 8888;
  position: fixed;
  height: 5%;
  top: 0;
  left: 0%;
  color: white;
  background-color: #52688F;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.add {
  background-color: #52688F;
  color: white;
  float: right;
}
.mat-form-field, .form, .body, .title {
  width: 100%;
  min-width: auto;
  justify-content: center;
  display: center;
}
.mat-card-content{
  width: 100%;
  height: 100%;
  display: flex;
}
.example-spacer {

  flex: 1 1 auto;
}
.journals {
  background-color: #52688F;
  border: none;
  color: #E3E7F1;
  float: right;


}
