<div class="journal">
<form [formGroup]="journalForm" (ngSubmit)="onSubmit()">
  <p>
    <mat-form-field>
      <input type="text" matInput placeholder="Username" formControlName="username">
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <input type="password" matInput placeholder="Password" formControlName="password">
    </mat-form-field>
  </p>


  <button class="register" mat-raised-button>Log In</button>
  </form>
</div>

  <mat-toolbar>
  <button class="home" (click)="goToMain()">
  <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  </mat-toolbar>
