<mat-toolbar>
  <button class="home" (click)="goToMain()">
  <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button class="journals">
    <mat-icon (click)="goToJournals()">thumbs_up_alt</mat-icon>
    </button>
  </mat-toolbar>



<div [align]=""  class="journal">
  <mat-card>
    <mat-card-title></mat-card-title>
  <mat-card-content>
  <form [formGroup]="journalForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>Did you have an attack?</mat-label>
      <mat-select formControlName="HadAttack">
        <mat-option value="Did you have an attack?"></mat-option>
        <mat-option *ngFor="let attack of attack">{{attack}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-label>What method did you use during the attack?</mat-label>
      <mat-select formControlName="Method">
        <mat-option value="What method was used during the attack?"></mat-option>
        <mat-option *ngFor="let method of methodOptions">{{method}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select formControlName="WasEffective">
        <mat-label>Was this method effective?</mat-label>
        <mat-option value="Was this method effective?"></mat-option>
        <mat-option *ngFor="let effective of effective">{{effective}}</mat-option>
      </mat-select>
    </mat-form-field>

      <mat-form-field class="title">
        <input type="text" matInput placeholder="Title" formControlName="Title">
      </mat-form-field>


      <mat-form-field class="body">
        <textarea type="textarea" matInput placeholder="Body" formControlName="Body"></textarea>
      </mat-form-field>



    <button class="add" mat-raised-button>Add</button>
    </form>
  </mat-card-content>
</mat-card>
  </div>



