p {
  font-family: Lato;
}
.mat-card, .mat-table {
  width: 100%;
  display: flex;

}
.table-container {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  min-width: 300px;
}

.mat-cell {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline;
}
.create-icon {
 color: #52688F;
  float: right;
  border: none;
  background-color: white;

}
/* Header Styling */
mat-toolbar.header{
  z-index: 8888;
  position: fixed;
  height: 5%;
  top: 0;
  left: 0%;
  color: white;
  background-color: #52688F;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: auto;
}

.create {
  background-color: #52688F;
  border: none;
  color: #E3E7F1;
  float: right;
}

.home {
  background-color: #52688F;
  border: none;
  color: #E3E7F1;
}

.example-spacer {
  flex: 1 1 auto;
}

.logout {
  color: #52688F;
  border: none;
  background-color: white;
  float: right;
}

.view {
  border: none;
  background-color: white;
}
