<mat-toolbar>

  <button class="home" (click)="goToMain()">
    <mat-icon>home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button class="edit" (click)="goToEdit(journal.journalID)">
  <mat-icon>edit</mat-icon>
  </button>
  </mat-toolbar>

<mat-card>
<button (click)="delete(journal.journalID)"  class="delete">
  <mat-icon>delete</mat-icon>
</button>
<div class="one-journal" *ngIf="isLoaded">
<mat-card-title>Title</mat-card-title>
<br>
<mat-card-content>
{{journal.title}}
<br>
<h2>Last Updated</h2>
{{journal.lastUpdated | date: 'short' }}
<h2>Entry</h2>
{{journal.body}}
<br>
</mat-card-content>
</div>
</mat-card>



