.example-container {
  display: flex;
  flex-direction: column;
}
.mat-card {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}

.mat-card-title{
  display:flex;
  text-align: center;
  justify-content: center;
}

.example-container > * {
  width: 100%;
}

button{
  margin: 2px;
}

.create-icon {
   background-color: #52688F;
   float: right;
   border: none;
   color: white;
 }
 /* Header Styling */
mat-toolbar.header{
  z-index: 8888;
  position: fixed;
  height: 5%;
  top: 0;
  left: 0%;
  color: white;
  background-color: #52688F;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

 .create {
   background-color: #52688F;
   border: none;
   background-color: #E3E7F1;
   float: right;
 }

 .delete{
   color: #52688F;
   border: none;
   background-color: white;
   float: right;
 }

 .home {
   background-color: #52688F;
   border: none;
   color: #E3E7F1;
 }

 .example-spacer {
   flex: 1 1 auto;
 }
