<div class="five-see-wrapper">
<label for="Please enter 5 things you see ">enter something you see: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 5 things you see ">enter something: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 5 things you see ">enter something you see: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 5 things you see ">enter something you see: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 5 things you see ">enter something you see: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<button color="accent" class="btn-success" (click)="goToTouch()">Next</button>
</div>
