<div [align]="['center']" class="count-game-panel">
  <h2 class="title">Focus</h2>

  <mat-card class="card">
    <mat-horizontal-stepper class="mat-elevation-z7"
                            labelPosition="bottom"
                            [linear]="true">
    <mat-step>
        <ng-template matStepLabel></ng-template>

            Lets countdown by 
            {{countVal}}
             starting at {{startVal}}

            <div class="countdown-buttons">
                <button  [ngClass]="{'test': newColor}" (click)="toggleColorOne()" mat-raised-button color="primary">
                {{val1}}
                </button>
            
                <button [ngClass]="{'test': newColor}" (click)="toggleColorOne()" mat-raised-button color="primary">
                {{val2}}
                </button>

                <button mat-raised-button color="primary" matStepperNext>
                {{val3}}
                </button>
            </div>
      </mat-step>

      <mat-step >
          <ng-template matStepLabel></ng-template>
          Lets countdown by {{countVal}} from {{val3}}
          <div class="countdown-buttons">
              <button [ngClass]="{'test': newColorTwo}" (click)="toggleColorTwo()" mat-raised-button color="primary">
              {{val4}}
              </button>

              <button mat-raised-button color="primary" matStepperNext>
              {{val5}}
              </button>
              
              <button [ngClass]="{'test': newColorTwo}" (click)="toggleColorTwo()" mat-raised-button color="primary">
              {{val6}}
              </button>

          </div>

      </mat-step>

      <mat-step >
          
          <ng-template matStepLabel></ng-template>
          Lets countdown by {{countVal}} from {{val5}}

          <div class="countdown-buttons">
              <button [ngClass]="{'test': newColorThree}" (click)="toggleColorThree()" mat-raised-button color="primary">
              {{val7}}
              </button>

              <button [ngClass]="{'test': newColorThree}" (click)="toggleColorThree()" mat-raised-button color="primary">
              {{val8}}
              </button>

              <button mat-raised-button color="primary" matStepperNext>
              {{val9}}
              </button>
          </div>

      </mat-step>

      <mat-step >
          
          <ng-template matStepLabel></ng-template>

          Lets countdown by {{countVal}} from {{val9}}

          <div class="countdown-buttons">
            <button mat-raised-button color="primary" matStepperNext>
            {{val10}}
            </button>
            
            <button [ngClass]="{'test': newColorFour}" (click)="toggleColorFour()" mat-raised-button color="primary">
            {{val11}}
              </button>

              <button [ngClass]="{'test': newColorFour}" (click)="toggleColorFour()" mat-raised-button color="primary">
            {{val12}}
              </button>


          </div>

      </mat-step>

      <mat-step >
          
          <ng-template matStepLabel></ng-template>

          Lets countdown by {{countVal}} from {{val10}}

          <div class="countdown-buttons">
              <button [ngClass]="{'test': newColorFive}" (click)="toggleColorFive()" mat-raised-button color="primary">
              {{val13}}
              </button>
              <button mat-raised-button color="primary" matStepperNext>
              {{val14}}
              </button>
              <button [ngClass]="{'test': newColorFive}" (click)="toggleColorFive()" mat-raised-button color="primary">
              {{val15}}
              </button>
          </div>
      </mat-step>

      <mat-step >
        <ng-template matStepLabel></ng-template>
        <div class="countdown-buttons">
            <button mat-raised-button color="accent" class="home" (click)="goToMain()">
              Home
            </button>

            <button mat-raised-button color="accent" class="home" (click)="restartCount()">
              Play Again
            </button>
        </div>
  </mat-step>

    </mat-horizontal-stepper>
  </mat-card>

<!-- Footer -->
  <footer>
    <br>
    <h3 class="title">Need Immediate Help?</h3>
      <a href="https://suicidepreventionlifeline.org/" target="_blank" rel="noopener"> Visit the National Suicide Prevention Lifeline</a>
  </footer>

<!--ToolBar-->
<mat-toolbar>
  <button class="home">
    <mat-icon (click)="goToMain()">home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button class="refresh">
    <mat-icon (click)="restartCount()">refresh</mat-icon>
  </button>
</mat-toolbar>
</div>

