h2 {
  font-family: "Roboto";
  margin-left: 25px;
}

footer{
  margin-left: 25px;
}
.scrolling-space {
  width: 100%;
  height: 500px;
}

.data-form {
  max-width: 600px;
  margin: 0 auto;
}

.countdown-buttons {
  margin-top: 10px;
}

.countdown-buttons button{
  margin-right: 30px;
}
.home {
  color: #52688F;
  border: none;
  background-color: #E3E7F1;

}
.mat-toolbar{
  position: fixed;
  bottom: 0;
  left: 0%;
  color: white;
  background-color: #E3E7F1;

}

.test {
  background-color: red;
}

.example-spacer {
  flex: 1 1 auto;
}


.refresh {
  color: #52688F;
  border: none;
  background-color: #E3E7F1;
  float: right;  
}