h2 {
  font-family: "Roboto";
  margin-left: 25px;
}

.card{
  max-width: 600px;
  max-height: 600px;
  align-self: center;
  margin: 15px;
}

.countdown-buttons {
  margin-top: 10px;
  max-width: 100px;
  align-self: center;
}

.countdown-buttons button{
  margin-top: 10px;
}

.wrong {
  background-color: red;
}

.right{
  background-color: limegreen;
}

.home {
  color: #52688F;
  border: none;
  background-color: #E3E7F1;
}

.mat-toolbar{
  position: fixed;
  bottom: 0;
  left: 0%;
  color: white;
  background-color: #E3E7F1;
}

.example-spacer {
  flex: 1 1 auto;
}

.refresh {
  color: #52688F;
  border: none;
  background-color: #E3E7F1;
  float: right;  
}