<label for="Please enter 4 things you can touch">enter something you can touch: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 4 things you can touch ">enter something you can touch: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 4 things you can touch ">enter something you can touch: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 4 things you can touch ">enter something you can touch: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<button color="accent" class="btn-success" (click)="goToHear()">Next</button><br>

