<div [align]="['center']" class="container">
  <mat-card class="card">
    <h3 class="title">I NEED TO...</h3>
    <mat-grid-list cols="1" rowHeight="5:1" class="grid-layout-custom">
      <!--Navigates to the Journaling Feature "Reflect"-->
      <mat-grid-tile [routerLink]="['/login']">REFLECT</mat-grid-tile>

      <!--Navigates to the Count Game Feature "Focus"-->
      <mat-grid-tile [routerLink]="['/count-game']">FOCUS</mat-grid-tile>

      <!--Navigates to the Stepper Feature "Ground"-->
      <mat-grid-tile [routerLink]="['/stepper']">GROUND</mat-grid-tile>

      <!--Navigates to the Audio Mediation Feature "Relax"-->
      <mat-grid-tile [routerLink]="['/audio-meditation']">RELAX</mat-grid-tile>

      <!--Navigates to the Deep Breathing Feature "Breathe"-->
      <mat-grid-tile [routerLink]="['/breathing-component']">BREATHE</mat-grid-tile>
      
      <!--Navigate to the Mantra Feature "Encourage"-->
      <mat-grid-tile [routerLink]="['/mantra']">ENCOURAGE</mat-grid-tile>
      
      <!--Navigates to the Checkin Feature "Check In" -->
      <mat-grid-tile [routerLink]="['/check-in']">CHECK IN</mat-grid-tile>
    </mat-grid-list>
  </mat-card>
</div>