.flex-container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 65%;
  display: flex;
  text-align: center;
  justify-content: center;
}
.card:hover{

  content:"checking";
}
.activity-buttons {
  height: 95%;
}

.title{
  text-align: left;
  letter-spacing: .43mm;
  color: #52688F;
}

.card mat-grid-tile{
  letter-spacing: 2px;
  font-size: large;
  font-style: bold;
}

.card mat-grid-tile:nth-child(odd){
  background: #BDC6D9;
  color: #52688F;
}

.card mat-grid-tile:nth-child(even){
  background: #E3E7F1;
  color: #52688F;
}

/* Header Styling */
mat-toolbar.header{
  z-index: 8888;
  position: fixed;
  height: 5%;
  top: 0;
  left: 0%;
  color: white;
  background-color: #52688F;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.signed-in {
  color: #E3E7F1;
  border: none;
  background-color: #52688F;
  display: flex;
  align-items: center;
  height: 100%
}

.bigger-icon {
  transform: scale(1.25);
}

.signIn{
  border:none;
  background-color: transparent;
  position: flex;
  align-items: center;
  justify-content: center;
  size: 100%;
}

p.signIn{
  display: flex;
  color: #E3E7F1;
  margin-bottom: 0%;
}

/* Footer Styling */
mat-toolbar.footer{
  z-index: 8888;
  position: fixed;
  height: 5%;
  bottom: 0;
  left: 0%;
  color: white;
  background-color: #52688F;
  display: flex;
  align-items: center;
  justify-content:flex-start;
}

.footer-text{
  width: 100%;
  animation: horizontal-ticker 10s infinite linear;
}

body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.button{
bottom: -150px;
  position: absolute;
width: 500px;
color: #52688F;
left:600px;

}
.breathing-component{

background-color: black;

}
.breathing-component
{
visibility: visible;
background-color:black;
content:"checking";
color:black;

}