<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">Logout</a>
 </div>

<div style="padding-left:16px">

   <div class="container">
    <h3 class="title">I NEED TO...</h3>

    <mat-card class="card">
      <mat-grid-list #grid rowHeight="4:1">
        <!--Navigates to the Journaling Feature "Reflect"-->
        <button class="btn"(click)="gotoJournaling()"><mat-grid-tile class="reflect">REFLECT</mat-grid-tile></button>
        
        <!--Navigates to the Count Game Feature "Focus"-->
        <button class="btn"(click)="gotoCountGame()"><mat-grid-tile class="focus">FOCUS</mat-grid-tile></button>

        <!--Navigates to the Stepper Feature "Ground"-->
        <button class="btn"(click)="gotoStepper()"><mat-grid-tile class="ground">GROUND</mat-grid-tile></button>

        <!--Navigates to the Audio Mediation Feature "Relax"-->
        <button class="btn"(click)="gotoAudioMeditation()"><mat-grid-tile class="relax">RELAX</mat-grid-tile></button>

        <!--Navigates to the Deep Breathing Feature "Breathe"-->
        <button class="btn"(click)="gotoDeepBreath()"><mat-grid-tile class="breath">BREATHE</mat-grid-tile></button>
      </mat-grid-list>
      </mat-card>
    </div>
</div>