mat-grid-tile {
  background: lightcoral;
}
 .title{
   text-align: left;
   letter-spacing: .43mm;
   color: #52688F;
 }

.card {

  height: 65%;
  width: 65%;
  display: flex;
  text-align:center;
  position:center;
  justify-content: center;

}

.card mat-grid-tile{
  letter-spacing: 2mm;
  font-size: large;
  font-style: bold;
}

.card mat-grid-tile:nth-child(odd){
  background: #BDC6D9;
  color: #52688F;
}

.card mat-grid-tile:nth-child(even){
  background: #E3E7F1;
  color: #52688F;
}

body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #7391C8;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: rgb(168, 83, 194);
}

.topnav a.active {
  background-color: #7391C8;
  color: white;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  display: block;
  }

.btn{
	margin: auto;
  background-color: #7391C8;
  color: white;
  border: 1px solid black;
  display: block;
  padding: 10px 24px;
  cursor: pointer;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}