mat-grid-tile {
  background: lightcoral;
}
 .title{
   text-align: left;
   letter-spacing: .43mm;
   color: #52688F;
 }

.reflect {
  background: #BDC6D9;
  letter-spacing: 2mm;
  font-size: large;
  font-style: bold;
  color: #52688F;
}

.focus {
  background: #E3E7F1;
  letter-spacing: 2mm;
  font-size: large;
  color: #52688F;
}
.ground {
  background: #BDC6D9;
  letter-spacing: 2mm;
  font-size: large;
  color: #52688F;

}

.relax {
  background: #E3E7F1;
  letter-spacing: 2mm;
  font-size: large;
  color: #52688F;
}
.breath {
  background: #BDC6D9;
  letter-spacing: 2mm;
  font-size: large;
  color: #52688F;
}

.container {

}
.card {

  height: 75%;
  width:75%;
  text-align:center;
  position:center;
  justify-content: center;

}

body {
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: rgb(168, 83, 194);
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: rgb(168, 83, 194);
}

.topnav a.active {
  background-color: #1AB5C0;
  color: white;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 16px;
  display: block;
  }

.btn{
	margin: auto;
  background-color: rgb(168, 83, 194);
  color: white;
  border: 1px solid black;
  display: block;
  padding: 10px 24px;
  cursor: pointer;
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}