.body {background-color: coral;}

.card {
    max-width: 500px;
    align-self: center;
    margin: 15px;
    top: 100px;
}

.user-input{
    align-self: center;
}

.refresh {
    color: #52688F;
    border: none;
    background-color: #E3E7F1;
    float: right;  
}
  

.example-spacer {
    flex: 1 1 auto;
}


.home {
    color: #E3E7F1;
    border: none;
    background-color: #52688F;
  
  }
  .mat-toolbar{
    position: fixed;
    top: 0;
    left: 0%;
    color: white;
    background-color: #52688F;
  
  }