<!-- <mat-vertical-stepper>
  <mat-step>
    <ul>
      <li>Test</li>
      <li *ngIf="steps[0]">Select 5 things.</li>
      <li *ngIf="steps[1]">Select 4 things.</li>
      <li *ngIf="steps[2]">Select 3 things.</li>
      <li *ngIf="steps[3]">Select 2 things.</li>
      <li *ngIf="steps[4]">Select 1 things.</li>
      <button ((click))="onClick()">Click here to switch views.</button>
    </ul>
  </mat-step>
</mat-vertical-stepper> -->
<mat-toolbar>
  <button class="home">
    <mat-icon (click)="goToMainMenu()">home</mat-icon>
  </button>
  <span class="example-spacer"></span>
  <button class="refresh">
    <mat-icon (click)="restartStepper()">refresh</mat-icon>
  </button>
</mat-toolbar>
<div [align]="['center']">
  <mat-card class="card">
    <mat-vertical-stepper class="user-input" [linear]="true">
      <!--Five things to see.-->
      <mat-step [stepControl]="fiveSights" label ="Enter five things you can see" > 
        <form [formGroup]="fiveSights">
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Sight #1" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Sight #2" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Sight #3" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Sight #4" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Sight #5" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!--Four things to touch.-->
      <mat-step [stepControl]="fourTouches" label = "Enter four things you can touch">
        <form [formGroup]="fourTouches">
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Touch #1" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Touch #2" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Touch #3" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Touch #4" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!--Three things to hear.-->
      <mat-step [stepControl]="threeSounds" label= "Enter three things you can hear">
        <form [formGroup]="threeSounds">
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Sound #1" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Sound #2" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Sound #3" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!--Two things to smell.-->
      <mat-step [stepControl]="twoSmells" label = "Enter two things you can smell">
        <form [formGroup]="twoSmells">
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Smell #1" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Smell #2" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>

      <!--One thing to taste.-->
      <mat-step [stepControl]="oneTaste" label = "Enter one thing you can taste">
        <form [formGroup]="oneTaste">
          <p [align]="['left']">
            <mat-form-field>
              <input matInput placeholder="Taste #1" formControlName = "firstCtrl"required>
            </mat-form-field>
          </p>
        </form>
        <div>
          <button mat-button matStepperPrevious>Back</button>
        </div>
      </mat-step>
    </mat-vertical-stepper>
  </mat-card>
  
</div>

















      