<div [align]="['center']" class="check-in-panel">
  <mat-card class="card">
    
    <section>  
    <h1 class="title">Check In</h1>
      <h2>
          {{currentDate | date:'EEEE, MMMM d'}}th
      </h2>
    </section>

        <div class="checkin">What are you grateful for?</div>
        <mat-form-field appearance="fill">
            <mat-label>1. I am grateful for...</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>2. I am greatful for...</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>3. I am greatful for...</mat-label>
            <input matInput>
          </mat-form-field>

      <div class="checkin">What would make today great?</div>
        <mat-form-field appearance="fill">
            <mat-label>1. Today would be great if...</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>2. Today would be great if...</mat-label>
            <input matInput>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>3. Today would be great if...</mat-label>
            <input matInput>
          </mat-form-field>

      <div class="activity">Lastyly, write a daily affirmation for today, </div>
        <mat-form-field appearance="fill">
          <mat-label>I can...</mat-label>
          <input matInput>
        </mat-form-field>
      
      <br> 
        <button mat-raised-button color="accent" class="home" (click)="goToMain()">
          Let's Manifest
        </button>
  </mat-card>
  
  <!--ToolBar-->
  <mat-toolbar>
      <button class="home">
        <mat-icon (click)="goToMain()">home</mat-icon>
      </button>
      <span class="example-spacer"></span>
      <button class="refresh">
        <mat-icon (click)="restartCheckIn()">refresh</mat-icon>
      </button>
    </mat-toolbar>
    