<!DOCTYPE html>

<head>
<title>Box Breathing</title>
<style>

 

</style>
</head>
<div id=box>
<div id=breath></div>
<div id=ball></div>

<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>
<br><br>

<p><span style="color:#52688F;font-weight:bold;font-size: large;">Breathe in while box inflates</span></p>

<p><span style="color:#52688F;font-weight:bold;font-size: large;">Hold breathe while box is inflated</span></p>

<p><span style="color:#52688F;font-weight:bold;font-size: large">Breathe out while box deflates</span></p>

<p><span style="color:#52688F;font-weight:bold;font-size: large;">Keep lungs empty while box is deflated</span></p>
</div>
