
<mat-toolbar>
    <button class="home" (click)="goToMain()">
    <mat-icon>home</mat-icon>
    </button>
    <span class="example-spacer"></span>
    </mat-toolbar>

    <div class="instructions"> 
        <h1 class = "Breathing">BREATHE IN</h1> 
        <h2 class = "Hold">HOLD</h2>
        <h3 class = "Breathe-Out">BREATHE OUT</h3>
        <h4 class = "Hold2">HOLD</h4>
    </div>

<div class="flex-container">
   
    <mat-card class="card">
        
        <div id=box>
        <div id=breath></div>
        <div id=ball></div>
       
        </div>
    </mat-card>
   
</div>
