<!--
<div class="flex-container">
  <div class="container">
    <p class="label">Username:</p>
    <p class="value">{{accountInfo.username}}</p>
  </div>
  <div class="container">
    <p class="label">Email:</p>
    <p class="value">{{accountInfo.email}}</p>
  </div>
</div>
<div class="most-helpful">
</div>
-->

  <canvas baseChart
          [data]="salesData"
          [type]="'radar'"
          [options]="chartOptions"
          width="400"
          height="400"></canvas>
  <!-- <canvas baseChart
    [type]="chartType"
    [datasets]="chartDatasets"
    [labels]="chartLabels"
    [options]="chartOptions"
    [legend]="true"
    (chartHover)="chartHovered($event)"
    (chartClick)="chartClicked($event)">
  </canvas> -->
