<mat-card>
  <mat-card-title>Create New Account</mat-card-title>
<mat-card-content>
<form [formGroup]="form" (ngSubmit)="Register()" class="sign-up-form" novalidate>
<div class="field-div">
  <mat-form-field>
    <input 
      id = "username"
      type="text" 
      matInput placeholder="Username" 
      formControlName="Username" 
      name = "username"
      required
      >
      
  </mat-form-field>
  <div *ngIf= "ifNull[0]">hello bitches</div>
  <div *ngIf="!errorResults[2]"> Username is invalid.</div>
</div>

<div class="field-div">
  <mat-form-field>
    <input 
      id = "email"
      type="text" 
      matInput placeholder="Email" 
      formControlName="Email" 
      required>
  </mat-form-field>
  <div *ngIf="!errorResults[0]"> Email is invalid.</div>
</div>
<div class="field-div">
  <mat-form-field>
    <input 
      id = "password"
      type="password" 
      matInput placeholder="Password" 
      formControlName="Password" 
      required>
  </mat-form-field>
  <div *ngIf="!errorResults[3]" [innerText]="errorMessages[3]"></div>
</div>
<div class="field-div">
  <mat-form-field>
    <input 
      id = "confirmpassword"
      type="password" 
      matInput placeholder="Confirm Password" 
      formControlName="confirmpassword"
      required>
  </mat-form-field>
  <div *ngIf="!errorResults[1]"> Passwords do not match.</div>
</div>

<div class="registration-buttons">
  <button class="login" (click)="goToLogin()" mat-raised-button>Login</button>
  <button class="register" mat-raised-button>Register</button>
</div>
</form>
</mat-card-content>
</mat-card>
<mat-toolbar>

<button class="home">
<mat-icon (click)="goToMainMenu()">home</mat-icon>
</button>
<span class="example-spacer"></span>
</mat-toolbar>
