<div class="registration-wrapper" fxLayout="row" fxLayoutAlign="center center">
    <form class="user-registration">
        <label>Username</label><br>
        <input type="text" id="username" name="username"><br>
        <label>Email</label><br>
        <input type="text" id="email" name="email"><br>
        <label>Password</label>
        <input type="text" id="password" name="password"><br>

        <button mat-flat-button color="accent" type="submit" (click)="Register()">Sign up</button>
      </form>
</div>
