<mat-checkbox color="primary" formControlName="item1"
    [indeterminate]="true">
    Shower
</mat-checkbox>

<mat-checkbox color="primary" formControlName="item2"
    [indeterminate]="true">
    Make the bed
</mat-checkbox>

<mat-checkbox color="primary" formControlName="item3"
    [indeterminate]="true">
    Eat Food
</mat-checkbox>

<mat-checkbox color="primary" formControlName="item4"
    [indeterminate]="true">
    Move for 20 minutes
</mat-checkbox>

<mat-checkbox color="primary" formControlName="item5"
    [indeterminate]="true">
    Do something for myself
</mat-checkbox>