  .check-in-panel {
    display: flex;
    flex-direction: column;
  }
  
  .home {
    color: #52688F;
    border: none;
    background-color: #E3E7F1;
  
  }
  .mat-toolbar{
    position: fixed;
    bottom: 0;
    left: 0%;
    color: white;
    background-color: #E3E7F1;
  
  }
  footer{
    margin-left: 25px;
  }
  h1 {
    font-family: "Roboto";
    margin-top: 25px;
    margin-left: 140px;
    }

  h2 {
    font-family: "Roboto";
    margin-left: 100px;
  }
  
  .mat-tab-label-container {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    z-index: 1;
    overflow-x: scroll !important;
}

.home {
  color: #52688F;
  border: none;
  background-color: #E3E7F1;

}

.example-spacer {
  flex: 1 1 auto;
}

.refresh {
  color: #52688F;
  border: none;
  background-color: #E3E7F1;
  float: right;  
}