<!--Check In Feature-->
<div [align]="['center']" class="check-in-panel">

  <mat-card class="card" mat-elevation-z9>

    <!--Header-->
    <section>

      <h1 class="title">Check In</h1>
      <h2 class="date"> {{currentDate | date:'EEEE, MMMM d'}}th </h2>

    </section>


    <body data-spy="scroll" data-target=".navbar" data-offset="50">


      <!--Check List-->
      <section class="section">
        <span class="list-section">
         <b>Here is your self-care checklist:</b>
          <ul>
            <li *ngFor="let subtask of task.subtasks">
              <mat-checkbox [(ngModel)]="subtask.completed"
                            [color]="subtask.color"
                            (ngModelChange)="updateAllComplete()">
                {{subtask.taskname}}
              </mat-checkbox>
            </li>
          </ul>
        </span>

        <span class="list-complete-section">
          <mat-checkbox class="margin"
                        [checked]="allComplete"
                        [color]="task.color"
                        [indeterminate]="someComplete()"
                        (change)="setAll($event.checked)">
            <i>{{task.taskname}}</i>
          </mat-checkbox>
        </span>

      </section>

   <!--Current Mood-->
      <section>

        <div class="mood"><b> How is your day going?</b></div>

          <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
              <mat-tab label="Good Day"><img src="https://lh3.googleusercontent.com/RGSAtrqNkjoXCbCPs8otTcFVDU_YrQBrPkRmlq20Iu3qspra-lnvoXxqTR1cYhGD83g_B2B4kn3WZBIXeWySlmioB2fg4DzV3EXg7siB1qJY7SBAm2WYEHr-9KPb-tgmFv3tzzP13lr_15b3jmLc2PXBjR5dZKddDvm3KGxV7EbwhROpIhOjto_9ktfW7EvMp_bzVWgZXNZqoWqrdv_cofYCeh0IeiRO91ZRgk784t4mIZaEwV91L89Zkygu2j90yTSgnlyVfNMxtOeDX1-TezzAxZRvJhsrCLuaFTPHN8kCCaPg1B7c6Scd59Pdxsl57FLC2TyvgsrMTddIwTwI4jzp7HzitY2Vo7EjbUWA98FETEDkFAKVQyazzbSmeXOQDRy1dA1SO3kIPTFz7W1bPH8NKsbWUmvZadHA8cEJ7ksNvaz6W0MNmT0G7PEYNQ4rPDh1XwghfqpuOYFRtUSCo91S45INwupJ6aRD5tj0qEj_k0ujyYbS5heR1B8ioYsHBu6ukf-vGblVexFRcP2_O7AdGktdOKkfYFHKtNsOpmCXFj71p9eKKpbNHKmb88mBj9--d57R0OT0KEhOR-Jho1r9u-FO1JofLlLwBpozSpace1sel99QyZlsCl6KwVl90X_Sk3Mc5fppDb47FrY75PFlTcSwwaVTn5DFZk3hLHxP1AakesFkxKb2-iXNQ7BWllX63CoBwRulkXITUETsTR74s8KK8WGiQneM-KHd24_5Z9jVtiiqg0RGaRraIZ7K91q2NXKo3e44yn1tvkJI-1UMSpCweQqlHqVLW8vV6PvSb-e9RzrHZTo27mJ4u1MEkmrovzMen-b1KyY--4Ay5xcsiR9qV2qD3JBrmlGX4tA=w250-h200-no?authuser=0"></mat-tab>
              <mat-tab label="Bad Day"><img src="https://lh3.googleusercontent.com/pUcc-GIWbwZSYCdRtNGuiXkzHmLFzLmWJb3njv7swzOUcD8V3t5scyGFwydVSC6cQhTqJaB6E8ScKqrCtO_OIfaBL0y-w-uCxNLlwyMVPdUGzPohogW8IUbys1VOKqk9m_siJBKpg2aJzG9ERC6SdDMXZVwd8xPjlQpZMzIsB1H-j8XGtHq_8Qiv9Rt0DaBa8mHUBs49kpN5qrKjrutfCu_dNFEeMLObbQV6tYS4mqNpnra5A8UNCSFFfQAgnbruj1RMu1V40hnzuPuKN54lm2wh2ySkSISb_0Ewrig9sosym3nWRHRB0DGp9QQwDZAzyuFrj2Ji1CwM1ldJycfCj1JdRCgE6o4Apo66sCm5gdD0TWIdeWBHH7sTMe-JzaypW8LAPPwvBCJxVLf-pUvvE6TApqo781WG1MiVE4NGZ_qArQrbasVYCpA2o4NQ-uI2YcCl1T3yFIoHeKk3izoLm5tR7NKenbrYDcog_7X5gmkzupsGZSiJHXbXHUWyeE5R9az1Zh5Z_W1NbZsaGFzTvBnyWYSKTB2FlmXRxBo4-F6q19NXOfLb__0DDYIV_yOWekWxlY2S4H3s59Eojl-uX4DFtuyzgXx3pPvdrNCkoxsg-9cxSLork0egMblSupW_v4gmfIb08kIYyYJDRAUqdHQpg4TZSYfbSu3o5wn-3CWs1Q7Whj9qd0kf1FE0SfIEdJsF4TkCNxawx1UzIqQfMhJ1MZfUduTd-LImTgImoykXbft5oe8_G5Oe09GQK3VVQ3czakrg_MvxXevcenUai_UP2L4qZ9GoFZn_j48v93UOAuP3JA7Elqi_iFgO4eKYi2TWPCHpKjEDGlH5Cp1vTMxrxFS2Zvd6vIbVdvbJQDY=w250-h200-no?authuser=0"></mat-tab>
          </mat-tab-group>

          <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
          <mat-grid-list cols="3" rowHeight="1:1">
            <mat-grid-tile mat-tab label="Anxious">1</mat-grid-tile>
            <mat-grid-tile>2</mat-grid-tile>
            <mat-grid-tile>3</mat-grid-tile>
          </mat-grid-list>
        </mat-tab-group>



      </section>

         <button mat-raised-button color="accent" class="btn" mat-raised-button (click)="openDialog()">Pick one</button>

    </body>

  </mat-card>

  <!--ToolBar-->
  <mat-toolbar>

      <button class="home">
        <mat-icon (click)="goToMain()">home</mat-icon>
      </button>

      <span class="example-spacer"></span>

      <button class="refresh">
        <mat-icon (click)="restartCheckIn()">refresh</mat-icon>
      </button>

  </mat-toolbar>
