<div class="check-in-panel">
    <mat-card>
        <h1 class="title">Check In</h1>
        <h2>
            {{currentDate | date:'EEEE, MMMM d'}}th
        </h2>
        <br> How are you feeling right now?<br>
            <mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
                <mat-tab label="Anxious"></mat-tab>
                <mat-tab label="Angry"></mat-tab>
                <mat-tab label="Sad"></mat-tab>
                <mat-tab label="Stressed"></mat-tab>
                <mat-tab label="Lonely"></mat-tab>
                <mat-tab label="Tierd"></mat-tab>
                <mat-tab label="Bored"></mat-tab>
                <mat-tab label="OK"></mat-tab>
                <mat-tab label="Calm"></mat-tab>
                <mat-tab label="Motivated"></mat-tab>
                <mat-tab label="Loved"></mat-tab>
                <mat-tab label="Proud"></mat-tab>
                <mat-tab label="Joyful"></mat-tab>
            </mat-tab-group>
    </mat-card>
    
    <!-- 
    <mat-card class="mat-elevation-z7">
    <mat-checkbox color="primary" formControlName="item1"
        [indeterminate]="true">
        Shower
    </mat-checkbox>
    <br>
    <mat-checkbox color="primary" formControlName="item2"
        [indeterminate]="true">
        Make the bed
    </mat-checkbox>
    <br>
    <mat-checkbox color="primary" formControlName="item3"
        [indeterminate]="true">
        Eat Food
    </mat-checkbox>
    <br>
    <mat-checkbox color="primary" formControlName="item4"
        [indeterminate]="true">
        Move for 20 minutes
    </mat-checkbox>
    <br>
    <mat-checkbox color="primary" formControlName="item5"
        [indeterminate]="true">
        Do something for myself
    </mat-checkbox>
    <br>
    </mat-card>-->
    
    <!-- Footer -->
    <footer>
        <h3 class="title">Need Immediate Help?</h3>
          <a href="https://suicidepreventionlifeline.org/" target="_blank" rel="noopener"> Visit the National Suicide Prevention Lifeline</a>
      </footer>
    </div>
    
    <!--ToolBar-->
    <mat-toolbar>
      <button class="home" (click)="goToMain()">
      <mat-icon>home</mat-icon>
      </button>
      <span class="example-spacer"></span>
    </mat-toolbar>