/* @import "~bootstrap/dist/css/bootstrap.css" */
html, body { height: 100%; }
body { margin: 0; background-image: linear-gradient(#E3E7F1, #BDC6D9, #7391C8, #52688F) ; font-family: Roboto, "Helvetica Neue", sans-serif; }
