/* @import "~bootstrap/dist/css/bootstrap.css" */
html, body { height: 100%; }
body { 
    margin: 0;
    background-image: url("./assets/Mountains_Glacier_Lake.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
    width: 100%;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}