.flex-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .activity-buttons {
    height: 95%;
  }
  
  .title{
    text-align: left;
    letter-spacing: .43mm;
    color: #52688F;
  }
  
  /* Header Styling */
  mat-toolbar.header{
    z-index: 8888;
    position: fixed;
    height: 5%;
    top: 0;
    left: 0%;
    color: white;
    background-color: #52688F;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .home {
    color: #E3E7F1;
    border: none;
    background-color: #52688F;
    display: flex;
    align-items: center;
    height: 100%
} 