.flex-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .activity-buttons {
    height: 95%;
  }
  
  .title{
    text-align: left;
    letter-spacing: .43mm;
    color: #52688F;
  }

@media screen
and (orientation: landscape)
and (max-width: 1199px) {
    .about-us {
        font-size: 2.75vh;
    }   
}

@media screen
and (orientation: landscape)
and (min-width: 1200px) {
    .about-us {
        font-size: 3vh;
    }   
}

@media screen
and (orientation: portrait)
and (max-width: 590px) {
    .about-us {
        font-size: 3.5vw;
    }
}

@media screen
and (orientation: portrait)
and (min-width: 591px) {
    .about-us {
        font-size: 3vw;
    }
}
  
  /* Header Styling */
  mat-toolbar.header{
    z-index: 8888;
    position: fixed;
    height: 5%;
    top: 0;
    left: 0%;
    color: white;
    background-color: #52688F;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .home {
    color: #E3E7F1;
    border: none;
    background-color: #52688F;
    display: flex;
    align-items: center;
    height: 100%
} 