<label for="Please enter 3 things you can hear">enter something you can hear: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 3 things you can hear ">enter something you can hear: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<label for="Please enter 3 things you can hear ">enter something you can hear: </label><br>
<input id="name" type="text" [formControl]="name"><br>
<button  color="accent" class="btn-success" (click)="goToSmell()">Next</button>
